@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

////////// Variables //////////
@theme-color: #6cc6ed;
@theme-color-hover: darken(@theme-color, 20%);
.transition(@time, @value){
    -moz-transition: all @time @value;
    -o-transition: all @time @value;
    -webkit-transition: all @time @value;
    transition: all @time @value;
}

////////// Gloabal Styles //////////
* {
    margin: 0;
    padding: 0;
    font-family: 'helvetica neue', 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background: #f6f6f6;
}

p, li { color: #333333; }

a {
    color: @theme-color;
    text-decoration: none;
    .transition(0.2s, linear);
    &:hover, &:focus { color: @theme-color-hover; text-decoration: none;}
}

hr { border-color: #ddd; margin: 0 auto;}
img { display: block; margin: 0 auto; }

.bold-text { font-weight: 700; }
.border { border: solid 1px #eeeeee; }
.white { background: white; }

.btn {
    border: 0px;
    border-radius: 5px;
    &:hover { background: @theme-color-hover; }
}

.btn-primary { background: @theme-color; }

.mrgn80 { 
    width: 80%;
    margin: 30px auto;
}

.circle{
    color: white;
    border-radius: 50%;
    text-align: center;
    width: 100px; 
    height: 100px; 
    margin: 0 auto 10px;
    background-color: @theme-color;
    padding-top: 28px;
}

.shadow{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(221,221,221,0.4);
    -moz-box-shadow: 5px 5px 15px 5px rgba(221,221,221,0.4);
    box-shadow: 5px 5px 15px 5px rgba(221,221,221,0.4);
}

.line-hight-2 { line-height: 2; }
.font-weight-200 { font-weight: 200; }
.secPad{ padding: 60px 0; }

////////// Header //////////
.header {
    position: fixed;
    width: 100%;
    background: @theme-color;
    z-index: 50;
    top: 0;    
}

.navbar {
    background: @theme-color;
}

.navbar-inverse .navbar-toggle {
    border-color: @theme-color;
    background-color: @theme-color;
    &:hover, &:focus{ background: @theme-color; }
}

.navbar-inverse .navbar-nav > li > a {
    color: #c4ebfc;
    &:hover, &:focus { color: white; }
}

.navbar-inverse .navbar-nav > .active > a {
    &:hover, &:focus { color: white; background: none; }
}   

////////// Nav //////////
.header .navbar-brand {
    float: left;
    padding: 16px 15px;
    line-height: 18px;
    height: 50px;
}

.navbar-brand b {
    color: white;
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}

.logo {
    font-size: 2.2em;
    margin-top: 8px;
}

.header .navbar {
    margin: 0;
    border: 0;
}

.navbar-inverse .navbar-nav > li > a {
    font-size: 1.2em;
    margin: 17px;
    padding: 6px 10px !important;
    border-radius: 5px;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background: none;
}

.navbar-nav > li:hover > a {
    color: white;
}

.header .navbar-nav > li > a {
    padding: 25px 18px;
    text-transform: uppercase;
}

.heading { 
    padding: 3px 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    display: block;
    p { font-size: 1.2em; }
}

////////// Landing Page //////////
.tileBox p{
    font-size: 16px;
    color: #777777;
    padding: 20px;
    line-height: 1.7;
}

.bg-parlex {
    background-image: url('../images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: center center;
    width: 100%;
}

.parlex-back {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #FDFDFD;
}

////////// Thumbnails //////////
#portfolio {
    background: #f7f7f7;
    
    p {
        margin-bottom: 1.45em;
        /* set next row on the baseline */
    }
}

.portfolio-items article img {
    width: 100%;
    height: 100%;
}

.portfolio-item {
    display: block;
    position: relative;
    margin-bottom: 30px;
    
    .portfolio-desc {
        opacity: 0;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        text-transform: uppercase;
    }
}

.portfolio-item:hover .portfolio-desc {
    padding-top: 20%;
    height: 100%;
    opacity: 1;
    background: rgba(40, 40, 40, 0.8);
    .transition(0.5s, ease-in-out);
}

.portfolio-item .portfolio-desc {
    * { color: white; font-weight: bold; }
    h5 {font-size: 1.6em; }
    p  {font-size: 0.6em; }
    i  {font-size: 1.4em; }
}

////////// Footer //////////
footer {
    border-top: 1px solid #e5e5e5;
    padding: 45px 0;
    background: white;
}

.social{
    a { 
        font-size: 32px;
        margin: 0 10px;
        color: #c7c7c7;
        &:hover {color: @theme-color-hover;}
    }
}

.copyright {
    color: #6D6D6D;
    background: #E9E9E9;
    padding: 20px 0;
}

#top {
    position: relative;
}

.topHome {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    background: @theme-color;
    
    .fa-2x {
        font-size: 20px;
        color: white;
        margin: 4px;
    }
}

////////// Portfolio Page //////////
.summary-container {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px 0;
}

.page-section {
    width: 100%;
    height: auto;
    padding: 30px 0;
    font-family: "lato";
    font-weight: 400;
    
    h1 { 
        font-size: 2.6em; 
        margin-top: 50px;
        margin-bottom: 12px;
    }
    
    h2 { 
        font-size: 1.7em; 
        color: @theme-color; 
        margin: 15px 0; 
        line-height: 1.5; 
        font-weight: 400; 
    }
    
    h3{
        font-size: 1.4em;
        color: @theme-color;
        margin: 30px 0;
        padding: 5px 0;
        line-height: 1.8;
        font-weight: 400;
        border-bottom: dotted 2px;
        text-transform: uppercase;
    }
    
    h4{
        font-size: 1.1em;
        color: @theme-color;
        margin: 10px 0;
        line-height: 1.8; 
        font-weight: 400;
    }
    
    h5 {
        font-size: 0.9em; 
        margin-bottom: 35px;
    }
    
    p, li {
        font-size: 1em;
        line-height: 1.95;
        font-weight: 200;
        letter-spacing: 0.02em;
    }
}

.card { 
    border: 1px solid #cccccc;
    padding: 1.5em;
    margin: 1em 0;
}

////////// pagination //////////
.page {
    font-size: 0.95em;
    display: block;
    border-top: 1px solid #cccccc;
    margin-top: 60px;
    padding-top: 30px;
    
    p {
        margin: 0 55px;
        position: relative;
        letter-spacing: 1px;
    }
}

.bottom_nav_right {
    text-align: right;
    width: 50%;
    float: right;
    background-image: url(../images/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 98% 50%;
    opacity: 0.7;

    .transition(.4s, ease-in);
    
    &:hover {
    background-repeat: no-repeat;
    background-position: right center;
    opacity: 1;
    }
}

.bottom_nav_left {
    text-align: left;
    width: 50%;
    float: left;
    background-image: url(../images/arrow-left.png);
    background-repeat: no-repeat;
    background-position: 2% 50%;
    opacity: 0.7;

    .transition(.4s, ease-in);
    
    &:hover {
        background-repeat: no-repeat;
        background-position: left center;
        opacity: 1;
    }
}

.direction {
    font-size: 0.7em;
    color: #979797;
}

@media (min-width: 768px) {
    .header .navbar-brand { padding-left: 0; }
    .navbar-nav { float: right; }
    .navbar-inverse .navbar-nav > li > a {  
        padding: 5px 12px !important;
        border-radius: 5px;
        margin: 19px 0px;
    }
}

@media (max-width: 768px) {
    .navbar-toggle { margin: 17px; }
    .header .navbar-nav > li > a { padding: 25px 12px; }
    .header .navbar-brand {
        padding-left: 10px; /* important */
        height: 60px;
    } 
    .portfolio-item:hover .folio-info { top: 0px; }

    .portfolio-item .portfolio-desc .folio-info {
        padding: 0px;
        h5 { font-size: 2.5em; }
    }
    .portfolio-item:hover .portfolio-desc { display: none; }

    .page .bottom_nav_left{ display: none; }
    .page .bottom_nav_right{ width: 110%; text-align: left; }

    #quote h3{ 
        font-size: 1em; 
        margin: -3em 1.5em;
        text-align: left;
    }
}

@media (max-width: 480px) {
    .navbar-toggle { margin: 17px; }
    .page-section{
        h1 { font-size: 2.3em; }
        h2 { font-size: 1.3em; }
        p  { font-size: 0.9em; line-height: 1.9; margin-bottom: 1.2em; }
        li { font-size: 0.9em; line-height: 1.9; }
    }
}
